$body-background: #fff;

$page-background: $body-background;

$main-color-red: #f01754; //
$main-color-red-dark: #D6154B; //
$main-color-green: #22ddab; //og: 24e9b4
$main-color-green-dark: darken($main-color-green,5); //og:20CFA0
//$main-color-blue: #59d3dd; //og: 5edee9 OR 
$main-color-blue: #00d4dc; //og: 00dfe8
$main-color-blue-dark: darken($main-color-blue,5); //og: 00C6CE
$main-color-blue-light: #8fe8f0; //og: 

$black: #000000;
$gray-lightest: #F0F0F0;
$gray-light: #d4d4d2;
$gray: #4a4d57;
$gray-dark: #31343a;
$gray-darker: #444444;
$white: #fff;

$font-family: 'Open Sans', sans-serif;
$accent-font: 'endurance_w01_lightregular';

$font-color: $gray-dark;
$link: $main-color-blue;

@mixin transition($transitions) {
    -webkit-transition: $transitions;
    -moz-transition: $transitions;
    -o-transition: $transitions;
    transition: $transitions;
}
@mixin transition-delay($transitions) {
    -webkit-transition-delay: $transitions;
    -moz-transition-delay: $transitions;
    -o-transition-delay: $transitions;
    transition-delay: $transitions;
}
@mixin transform($variables) {
  -webkit-transform: $variables;
  -moz-transform:    $variables;
  -ms-transform:     $variables;
  -o-transform:      $variables;
  transform:         $variables;
}
@mixin gradient($start,$start-opacity,$stop,$stop-opacity) {
	background: $start;
	background: -moz-linear-gradient(top,  rgba($start,$start-opacity) 0%, rgba($stop,$stop-opacity) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($start,$start-opacity)), color-stop(100%,rgba($stop,$stop-opacity))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba($start,$start-opacity) 0%,rgba($stop,$stop-opacity) 100%); /* W3C */
	//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}